<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <div class="well shaddowed">
    <%= render "trips/trip_view" %>
    <% if current_admin? %>
      <%= render "trips/admin_show_menu" %>
    <% end %>
  </div>
</div>
