<div class="col-lg-10 col-lg-offset-1">
  <div class="well sidebar-nav shaddowed" >
    <div class="centered"><h2>Terms and Conditions</h2></div>
    <ul>
      <li><h3>General</h3>
      <p>The client assumes full financial liability for any damage to the limousine caused during the rental by them or any members of their party<br>
      No drug use or smoking allowed in any of our vehicles<br>
      Alcohol use is permitted only inside the vehicles equipped with divider<br>
      It is illegal and unsafe to load the vehicles beyond seating capacity<br>
      We assume no responsibility for articles left in our vehicles<br>
      We cannot be held responsible for delayed travel time due to weather, traffic, road conditions or unforeseen mechanical failures</p>
      </li>
      <li><h3>Reservations</h3>
      <p>All reservations are subject to a guaranteed payment<br>
        A credit card number will be taken and may be charged at the time the reservation is made<br>
        If you re-schedule your reservation less than 2 hours before the pick-up, the vehicle will be assigned based on availability and the reservation is not guaranteed
        </p>  
      </li>
      <li><h3>Cancellations</h3>
      <p>Any reservation cancelled in less time than described, will result in a full charge</p>
      <table>
        <tr>
          <td>Airport transfer & point-to-point</td>
          <td>2 hours</td>
        </tr>
        <tr><td>Hourly service (corporate)</td><td>3 hours</td> </tr>
        <tr><td>Hourly service (night out & concerts)</td><td>3 hours</td></tr>
        <tr><td>Weddings & Proms</td><td>24 hours</td></tr>
        <tr><td>Interstate trips</td><td>8 hours</td></tr>
      </table>
      </li>
      <li><h3>Rates</h3>
      <p>Rates do not include gratuity and are subject to change without notice<br>
      Extra stops: in-line $10.00 (each); not-in line: call for quotation<br>
      Late hours fees: a premium rate of $10.00 applies between the hours of 11:00 PM and 4:29 AM<br>
      Airport greet and meet (inside the terminal) – $24<br>
      Car seat, booster seat – $20/seat<br>
      Holiday surcharge ($15): New Years Eve, New Years Day, Memorial Day, 4th of July, Labor Day, Thanksgiving and Christmas<br>
      If credit card authorization fails, the balance needs to be paid to the driver before the beginning of the trip</p>
      </li>
      <li><h3>Charters (Hourly Service)</h3>
        <p>15 minutes into the hour is half an hour charge<br>
          Automatic 20% gratuity will be added to all charter reservations<br>
          A non-refundable deposit is required and could be held for all charters<br>
          The hourly service price may vary based on your location<br>
          Any round trip will become hourly service if the time between drop-off and pickup is less than 2 hours<br>
          All trips to and from concerts and sport events will be booked as an hourly service<br>
          Hourly service does not apply to out-of-state-trips. Please ask for a quote.<br>
          Waiting time charges do not apply to hourly service
        </p>
      </li>
      <li><h3>Waiting time</h3>
      <p>Airports only – Spartan Limousine grants a 60 minutes grace period after the reported domestic flight arrival time and a 120 minutes grace period after reported international flight arrival time. Once the grace period has elapsed and the customer has not called, the car will be dismissed and a full charge will be applied.<br>
      Except airports and hourly service: there is a 15-minute grace period. After the grace period has elapsed, waiting time charges will apply.<br>
      Sedan – $15/15minutes<br>
      Luxury SUV - $15/10 minutes<br>
      Luxury sedan - $15/10 minutes</p>
      </li>
      <li><h3>No Show</h3>
      <p>A no-show fee equal to the trip cost plus 20% gratuity will be charged when the passenger fails to show at the designated location. If you cannot locate your sedan/limousine, please call (773) 934-1755 to avoid a no-show billing<br>
        Except airports – no-show is considered after 30 minutes waiting without contact from the customer’s side
        </p>
      </li>
    </ul>

  </div>
</div>
