<footer>
  <p id="copyright">&copy 2014 Niter Inc. All Rights Reserved.</p>
  <ul id="footer-list" class="pull-right">
    <li><%= link_to "Terms & Conditions", terms_path %></li>
    <li><%= link_to "Disclaimer", disclaimer_path %></li>
    <li><%= link_to "Privacy Policy", privacy_notice_path %></li>
  </ul>
</footer>
