<div class="row">
  <ul class="nav nav-pills">
    <li><%= link_to image_tag('spartan_logo.png', id: 'logo'), root_path  %></li>
    <li><%= link_to "Book a Ride", "#" %></li>
    <li><%= link_to "Contact", "#" %></li>
  </ul>
</div>

